@import "./utils/variables";
@import "./components/header";
@import "./components/logo";
@import "./components/clients";
@import "./components/team";
@import "./components/hero";
@import "./components/form";
@import "./components/example";
@import "./components/feature";
@import "./components/site_nav";
@import "./components/modal";
@import "./components/filter";
@import "./components/gallery";
@import "./components/subscribe_form";
@import "./components/social_link";

.body {
  color: $primary-text-colour;
  font-family: $FontMain;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-title {
  color: $title-text-colour;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}

.footer {
  background-color: $background-footer-hero;
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress {
  display: flex;
  margin-left: auto;
  color: #ffffff;
}
.adress-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $primary-text-colour;
}
.adress-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.footer .adress {
  display: block;
}

.footer .email-tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding-top: 9px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
.nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}
.adress .item + .item {
  margin-left: 50px;
}

.item {
  display: inline-flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.container-adress {
  width: 231px;
}

.container-social-list {
  width: 206px;
  height: 80px;
  margin-left: 70px;
  margin-top: 12px;
}

.container-social-list .list-title,
.container-subscribe .list-title {
  color: $footer-text-colour;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}
.container-social-list .social-list {
  margin: 0;
}
.footer .container {
  display: flex;
}
