.section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .list-clients {
    display: flex;
    justify-content: space-between;
  }
  .clients-item {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
  }
  .clients1 {
    width: 44.27px;
    height: 49.23px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-item:hover {
    border: 1px solid $accent-colour;
  }
  .clients-link:hover .clients1 {
    fill: $accent-colour;
  }
  .clients-link:hover .clients2 {
    fill: $accent-colour;
  }
  .clients-link:hover .clients3 {
    fill: $accent-colour;
  }
  .clients-link:hover .clients4 {
    fill: $accent-colour;
  }
  .clients-link:hover .clients5 {
    fill: $accent-colour;
  }
  .clients-link:hover .clients6 {
    fill: $accent-colour;
  }
  .clients2 {
    width: 40px;
    height: 52px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .clients3 {
    width: 41px;
    height: 42.6px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients4 {
    width: 79.66px;
    height: 42.02px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients5 {
    width: 59px;
    height: 47px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients6 {
    width: 88.48px;
    height: 45.44px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }