.footer {
  background-color: $background-footer-hero;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .adress {
  display: block;
}

.footer .email-tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding-top: 9px;
}
.footer .container {
  display: flex;
}
